<!-- <footer class="font-medium fixed inset-x-0 bottom-0 py-3 bg-gray-900 w-full">
    <ul class="flex justify-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-4 text-white md:hover:text-blue-700 md:bg-transparent">Home</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-4 text-white md:hover:text-blue-700 md:bg-transparent">About</a></li>
    </ul>
    <p class="text-center text-white">© 2023 All Rights Reserved</p>
</footer> -->
<footer class="font-medium fixed inset-x-0 bottom-0 py-3 bg-gray-900 w-full">
    <ul class="flex flex-col sm:flex-row justify-center items-center border-b pb-3 mb-3">
      <li class="mb-3 sm:mb-0">
        <a href="/" class="mx-8 text-white hover:text-blue-700 bg-transparent">Home</a>
      </li>
      <li>
        <a href="/about" class="mx-8 text-white hover:text-blue-700 bg-transparent">About</a>
      </li>
    </ul>
    <p class="text-center text-white">© 2023 All Rights Reserved</p>
</footer>
