<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>
<body">
  <!-- navbar section -->
  <%- include("./partials/navbar.ejs") %>
  <!-- Main section -->
  <section class="p-6 bg-gray-100 text-gray-700">
    <div class="container mx-auto">
        <div class="mt-6 text-lg space-y-4">
            <p>Welcome to my<span class="font-semibold"> Blog Website</span>, a hub for computer science enthusiasts!</p>
            <p>Hi, I'm <span class="font-semibold">Arpit</span>, a computer engineer with a passion for <span class="font-semibold">backend web development</span>. This blog is my digital playground where I share insights, tutorials, and discussions on the latest trends in computer science.</p>
            <p>Whether you're a student, a professional, or just curious about computer science, you'll find a wealth of information here. Expect posts ranging from basic programming concepts to advanced computational theories.</p>
            <p>Got questions or ideas? Feel free to reach out!</p>
            <p>Fun Fact: When I'm not coding, I'm probably sleeping 😴 lol!!</p>
        </div>
    </div>
</section>



<!-- Footer section -->
  <%- include("./partials/footer.ejs") %>
</body>
</html>