<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>
<body>
  <!-- navbar section -->
  <%- include("./partials/navbar.ejs") %>
  


<!-- Footer section -->
  <%- include("./partials/footer.ejs") %>
</body>
</html>